.btn
{
    @include btnGradient;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1em;
    border-radius: 2em;
    @include boxShadow;

    &:hover
    {
        @include boxShadow(darken($boxShadowColor, 30));
        @include btnGradient(lighten($secondary-color, 3%), lighten($primary-color, 3%));
    }
}