body
{
    @include ultraWideScreen
    {
        width: 2560px;
        margin: 0 auto;
    }
}

.position
{   
    justify-content: center;
    box-shadow: inset 0 7px 9px -7px #b4b4b4;

    &__gps-logo
    {
        margin-right: 0.5em;
    }

    &__city-name
    {
        font-family: "RobotoBold", sans-serif;
    }

    &--darken-bg
    {
        background-color: $section-darken-bg-color;
    }
}

.search
{
    
    &__title,  &__catchphrase
    {
        width: 100%;
        margin: 1em;
        text-align: center;
    }

    &__button
    {
        margin: 2em auto;
    }

}

.functionning
{
    &__title
    {
        /*Responsive*/
        @include xxlargeScreen
        {
            text-align: center;
            margin-bottom: 1.5em;
        }
    }
    margin-bottom: 2em;

    /*Responsive*/
    @include xxlargeScreen
    {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    
    &__step-list
    {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        
        /* Responsive */
        @include largeScreen
        {  
            flex-direction: row;
        }

        /*Responsive*/
        @include xxlargeScreen
        {
            width: 1400px;
        }

        &__item
        {
            position: relative;
            width: calc(100% - 4em);
            display: flex;
            flex-direction: row;
            background-color: $section-bg-color;
            margin: 1em 0 1em 0;
            padding: 2em;
            border-radius: 1em;
            @include boxShadow;

            /* Responsive */
            @include smallScreen
            {
                margin: 1em auto;
                width: 516px;
            }

            /* Responsive */
            @include largeScreen
            {  
                width: calc(30% - 2em);
                margin: 0 1em;
            }

            &__step-number
            {
                position: absolute;
                left: -10px;
                background-color: $primary-color;
                color: #FFFFFF;
                border-radius: 4em;
                padding: 5px 8px 3px 8px; 
            }

            &__icon
            {
                padding-right: 1.5em;
                font-size: 1.25em;
                color: $iconsColor;

                &--purple
                {
                    color: $primary-color;
                }
            }

            &__description
            {
                @include fontStyleBold;
            }

            &--light-purple
            {
                background-color: lighten($primary-color, 35%);
            }
        }
    }

    &--bg-white
    {
        background-color: #FFFFFF;
    }
}