.footer
{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    
    /*Responsive*/
    @include mediumScreen
    {
        flex-direction: row;
    }

    /*Responsive*/
    @include xxlargeScreen
    {
        justify-content: center;
    }


    &__title
    {
        font-family: "Shrikland", sans-serif;
        
        /*Responsive*/
        @include mediumScreen
        {
            text-align: center;
        }
    }

    &__link
    {
        text-decoration: none;
        line-height: 2em;

        /*Responsive*/
        @include mediumScreen
        {
            width: calc(50% - 2em);
            margin: 1em;
            text-align: center;

        }
        
        /* Responsive */
        @include largeScreen
        {  
            width: calc(25% - 2em);
        }

        /*Responsive*/
        @include xxlargeScreen
        {
            width: calc(20% - 2em);
        }

        @include ultraWideScreen
        {
            width: calc(15% - 2em);
        }

        &__icon
        {
           width: 10px;
           height: 10px;
           margin-right: 1em;
        }
    }

    &__title, &__link
    {
        color: #FFFFFF;
    }
}