header
{
    position: relative;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header
    {
        &__icon
        {
            font-size: 1.25em;
            position: absolute;   
            left: 25px;
        
        }

        &__img
        {
            margin-top: 1em;
            width: 50%;
        }
    }
}
