/* Permet de mettre en gras les elements */
@mixin fontStyleBold
{
    font-family: "RobotoBold", sans-serif;
}

/* Affichage de l'ombre sur les elements */
@mixin boxShadow($color: $boxShadowColor) 
{
    box-shadow: 2px 5px 10px $color;
}

@mixin btnGradient($color1: $secondary-color, $color2: $primary-color) 
{
    background-image: linear-gradient($color1, $color2);    
}
