/* Couleurs du site */

$backgroundLoader: rgba(60, 60, 60, 0.75);
$colorFontLoader: #FFFFFF;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$section-bg-color: #F6F6F6;
$section-darken-bg-color: #EAEAEA;
$iconsColor: #7E7E7E;
$boxShadowColor: #dbdbdb;

/* Map pour le responsive */
$responsive-breakpoints: 
(
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
  ultrawide: 2560px
);

/* Nombre d'éléments sur la page menu */
$elements: 20;

/* Nombre de lettres du loader */
$nbLettres: 9;

/*--- Animations ---*/
/* Apparition du loader */
$appearingOn-times: 
(
  duration: 500ms,
  delay: 0ms
);

/* Apparition du loader */
$disappearFrom-times: 
(
  duration: 500ms,
  delay: (5000ms + map-get($appearingOn-times, duration) + map-get($appearingOn-times, delay))
);

/* Map pour l'animation des traits */
$roundTrip-times: 
(
  debut: (map-get($appearingOn-times, duration) + map-get($appearingOn-times, delay)),
  duration: 2000ms,
  delay: 3000ms
);

/* Map pour l'animation des lettres */
$fromSky-times: 
(
  duration: 530ms,
  delay: 300ms,
  intervalle: 100ms
);

/* Map pour le changement des lettres*/
$colorChange-times: 
(
  duration: 2100ms,
  delay: 1100ms,
  intervalle: 100ms
);

/* Map pour l'animation de chute pour les lettres*/
$fallDown-times: 
(
  duration: 530ms,
  delay: 3500ms,
  intervalle: 100ms
);

/* Map pour l'assiette*/
$popUp-times: 
(
  duration: 350ms,
  delay: 1100ms
);

/* Map pour la rotation de l'assiette*/
$rotate-times: 
(
  duration: 800ms,
  delay: 1450ms
);

/* Map pour les couverts*/
$vanish-times: 
(
  duration: 350ms,
  delay: 4500ms
);